@model IEnumerable<AplicacaoMedicina.Models.Paciente>

@{
    Layout = "~/Views/Shared/_LayoutMedico.cshtml";
}

<div class="row">
    <div class="col-md-12">
      
        <div class="card">
            <div class="card-header" data-background-color="purple">
                <h4 class="title">Pacientes pendentes</h4>
                <p class="category">Lista de pedidos de atendimentos ainda não respondidos</p>
            </div>

            <div class="card-content table-responsive">
  
                            <table class="table">
                                <thead class="text-primary">
                                    <tr>
                                        <th>
                                            <b>Nome</b>
                                        </th>
                                        <th>
                                            <b>Telefone</b>
                                        </th>
                                        <th>
                                            <b>Cidade</b>
                                        </th>
                                        <th>
                                            <b>Ação</b>
                                        </th>                                  
                                    </tr>
                                </thead>
                                <style>
                                    .btn-acao{

                                    padding-left: 0px!important;
                                    padding-right: 0px!important;
                                    }

                                    .btn-acao i{
                                    font-size: x-large!important;
                                    }
                                </style>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Nome_Paci)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Telefone_Paci)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Cidade_Paci)
                                            </td>                                          
                                            <td class="text-primary">
                                             
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
